################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto Grupo 3 PNT1/FileContentIndex/27be228f-178f-4970-bc9c-a5b3c0cc5986.vsidx
