@model ArgenRent.Models.Alquiler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="fechaInicio" class="control-label"></label>
                <input asp-for="fechaInicio" class="form-control" />
                <span asp-validation-for="fechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaSalida" class="control-label"></label>
                <input asp-for="fechaSalida" class="form-control" />
                <span asp-validation-for="fechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropiedadId" class="control-label"></label>
                <select asp-for="PropiedadId" class="form-control" asp-items="ViewBag.PropiedadId"></select>
                <span asp-validation-for="PropiedadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
